<%- include("partials/header") %>

<div class="about background-left">
  <!-- <div style="position: relative;" class="">
    <img src="aboutusbackground.jpg" alt="">
  </div> -->

    <h1 class="headline about-left">About Us</h1>
    <div class="row authors about-left">
      <div class="col-lg-4 author-details">
        <img src="liel.jpg" alt="">
        <p>Liel Sananes</p>
        <a href="mailto:lielsananes8@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/lielsananes/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="or.jpg" alt="">
        <p>Or Cohen</p>
        <a href="mailto:orcohen733@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/or-cohen-6a74081aa/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="nadav.jpg" alt="">
        <p>Nadav Cohen</p>
        <a href="mailto:nadavcohen306@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/nadav-cohen-se/">LinkedIn</a>
      </div>
    </div>
    <div class="about-us-brief about-left">
      <p style="font-size: 22px;">4th year software engineering students in SCE - Sami Shamoon collage of engineering.</p>
      <p style="font-size: 22px;">This project is developed as part of our final project.</p>
      <p>The subject of the project is Authorship verification in manuscripts. In this project we have developed a model that can differentiate between different manuscripts and thus determine whether a particular document was written by the same person or not. We developed the model using a neurons network and methods of deep learning.</p>
    </div>
</div>
<div class="about background-right">
    <h1 class="headline about-right">The Model</h1>
    <div class="about-us-brief about-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris commodo quis imperdiet massa tincidunt. Id semper risus in hendrerit. Vel risus commodo viverra maecenas accumsan lacus vel. Vel pharetra vel turpis nunc eget lorem dolor. Donec massa sapien faucibus et molestie. Egestas diam in arcu cursus euismod. Quisque sagittis purus sit amet volutpat. Ullamcorper morbi tincidunt ornare massa eget. Eros donec ac odio tempor orci dapibus ultrices. Pellentesque habitant morbi tristique senectus et netus et. Morbi quis commodo odio aenean sed adipiscing. Turpis cursus in hac habitasse platea dictumst quisque. Bibendum ut tristique et egestas quis ipsum suspendisse. Eu facilisis sed odio morbi quis commodo odio aenean. Euismod lacinia at quis risus sed vulputate odio ut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris commodo quis imperdiet massa tincidunt. Id semper risus in hendrerit. Vel risus commodo viverra maecenas accumsan lacus vel. Vel pharetra vel turpis nunc eget lorem dolor. Donec massa sapien faucibus et molestie. Egestas diam in arcu cursus euismod. Quisque sagittis purus sit amet volutpat. Ullamcorper morbi tincidunt ornare massa eget. Eros donec ac odio tempor orci dapibus ultrices. Pellentesque habitant morbi tristique senectus et netus et. Morbi quis commodo odio aenean sed adipiscing. Turpis cursus in hac habitasse platea dictumst quisque. Bibendum ut tristique et egestas quis ipsum suspendisse. Eu facilisis sed odio morbi quis commodo odio aenean. Euismod lacinia at quis risus sed vulputate odio ut.</p>
    </div>
</div>





<%- include("partials/footer") %>

<script type="text/javascript">
  document.getElementsByClassName("container")[0].style.display = "contents";
  document.getElementsByClassName("navbar")[0].classList.add("sticky");
  // document.getElementsByClassName("body")[0].style.height = "max-content";
  document.getElementsByClassName("footer")[0].style.position = "sticky";
</script>
